{% assign serieid = page.serie %}
{% assign filtered_posts = site.posts | where_exp: "item", "item.serie == serieid" | sort: "date" %}
{% assign serie = site.series | find_exp:"item", "item.serie == serieid" %}
<nav>
    <h2><a href="{{site.url}}{{site.baseurl}}/series/{{seriegroup.name}}/">Serie: {{ serie.seriename }}</a></h2>
    <ul>
        {%- for post in filtered_posts -%}
            {% include serie-single.html item=post %}
        {%- endfor -%}
    </ul>
</nav>
{%- for serie in site.series -%}
    {{serie.serie}}
    {{serie.seriename}}
{%- endfor -%}